<app-layout>
    <mat-toolbar class="page-header" role="heading">
        <h1>Teacher dashboard</h1>
    </mat-toolbar>
    <div class="page-content">
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="TODAY">
                <app-t-today-timetable></app-t-today-timetable>
            </mat-tab>
            <mat-tab label="MY GROUP LISTY">
                <app-t-my-group-list></app-t-my-group-list>
            </mat-tab>
        </mat-tab-group>
    </div>

</app-layout>
