<app-layout>
    <mat-toolbar class="page-header" role="heading">
        <h1>Teacher scheduler</h1>
        <h2> </h2>
    </mat-toolbar>

    <div class="tables-wrapper">
        <mat-card class="material-table">
            <mat-card-content class="material-table__content">
                <table mat-table [dataSource]="dataSource" class="material-table__table">
                    <ng-container matColumnDef="1" class="material-table__table-row">
                        <th mat-header-cell *matHeaderCellDef>#</th>
                        <td mat-cell *matCellDef="let element"
                            class="material-table__table-content">{{element.time}}</td>
                    </ng-container>
                    <ng-container matColumnDef="2" class="material-table__table-row">
                        <th mat-header-cell *matHeaderCellDef>Дүйсенбі</th>
                        <td mat-cell *matCellDef="let element" class="material-table__table-content">
                            <app-t-lesson-item [lessonItem]="element.l1"></app-t-lesson-item>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="3" class="material-table__table-row">
                        <th mat-header-cell *matHeaderCellDef>Сейсенбі</th>
                        <td mat-cell *matCellDef="let element" class="material-table__table-content">
                            <app-t-lesson-item [lessonItem]="element.l2"></app-t-lesson-item>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="4" class="material-table__table-row">
                        <th mat-header-cell *matHeaderCellDef>Сәрсенбі</th>
                        <td mat-cell *matCellDef="let element" class="material-table__table-content">
                            <app-t-lesson-item [lessonItem]="element.l3"></app-t-lesson-item>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="5" class="material-table__table-row">
                        <th mat-header-cell *matHeaderCellDef>Бейсенбі</th>
                        <td mat-cell *matCellDef="let element" class="material-table__table-content">
                            <app-t-lesson-item [lessonItem]="element.l4"></app-t-lesson-item>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="6" class="material-table__table-row">
                        <th mat-header-cell *matHeaderCellDef>Жұма</th>
                        <td mat-cell *matCellDef="let element" class="material-table__table-content">
                            <app-t-lesson-item [lessonItem]="element.l5"></app-t-lesson-item>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </mat-card-content>
        </mat-card>
    </div>
</app-layout>
