<div class="materialContainer">


    <div class="box">

        <div class="title">LOGIN</div>

        <div class="input">
<!--            <label for="name">Username</label>-->
            <input type="text"  id="name" [(ngModel)]="authCred.login">
            <span class="spin"></span>
        </div>

        <div class="input">
            <label for="pass"></label>
            <input type="password"  id="pass" [(ngModel)]="authCred.password">
            <span class="spin"></span>
        </div>

        <div class="button login">
            <button (click)="sendLoginForm()"><span>GO</span> <i class="fa fa-check"></i></button>
        </div>


    </div>


</div>
