<app-layout>
    <mat-toolbar class="page-header" role="heading">
        <h1>Student dashboard</h1>
    </mat-toolbar>

    <div class="page-content">
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="TODAY">
                <app-today-timetable></app-today-timetable>
            </mat-tab>
            <mat-tab label="MY LESSONS">
                <app-my-lessons-list></app-my-lessons-list>
            </mat-tab>
        </mat-tab-group>
    </div>

    <app-footer></app-footer>
</app-layout>
